---
---

@import 'normalize';
@import 'typography';
@import 'highlight';

$header-background: #3a3a3a;
$header-color: #adadad;

$body-background-top: rgba(38, 38, 38, 0.5);
$body-background-bottom: rgba(38, 38, 38, 0);

article {
  max-width: 680px;;
  margin: auto;
}

body > header, 
body > footer {
  background: $header-background;
  color: $header-color;
  padding: 10px;
}

/* Quick fix for images */
img {
  max-width: 100%;
}

/* Force scrollbars to prevent "centering jumps" */
html {
  overflow-y: scroll;
}
