---
---

@import 'normalize';
@import 'typography';
@import 'highlight';

/* Colours based off of:
 * http://www.paletton.com/#uid=1000u0kleqtbzEKgVuIpcmGtdhZ
 */

$header-background: #D34747;
$header-color: white;
$header-shadow-color: #B52626;

/* Site header */

body > header {
  text-align: center;
  text-transform: uppercase;
  padding-top: $computed-line-height;
  a {
    text-decoration: none;
    color: $header-color;
    text-shadow: 2px 2px 0 $header-background, 5px 5px 0 $header-shadow-color;
  }
  h1 {
    @include rhythm(3, 0, 0);
  }
  p {
    padding-top: $computed-line-height/2;
    padding-bottom: $computed-line-height/2;
    margin-bottom: 0;
  }
}

body > header, 
body > footer {
  background: $header-background;
  color: $header-color;
  //padding: 10px;
}

article {
  max-width: $body-font-size * 33;
  margin: auto;
}

/* Quick fix for images */
img {
  max-width: 100%;
}

/* Force scrollbars to prevent "centering jumps" */
html {
  overflow-y: scroll;
}
