---
layout: default
---

<div class="home">

  {% for post in paginator.posts %}

  {% assign total_paragraphs = post.content | split: '<p>' | size | minus: 1 %}
  {% assign excerpt_paragraphs = post.excerpt | split: '<p>' | size | minus: 1 %}
  {% assign remaining_paragraphs = total_paragraphs | minus: excerpt_paragraphs %}

  <h1>{{ post.title }}</h1>
  <p>{{ post.date | date: "%b %-d, %Y" }}</p>
  {{ post.excerpt }}
  <p><a href="{{ post.url }}">
    {% if remaining_paragraphs > 0 %}
    Read {{ remaining_paragraphs }} remaining paragraphs...
    {% else %}
    View post on separate page
    {% endif %}
  </a></p>
  {% endfor %}

  {% if paginator.total_pages > 1 %}
  <p class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | replace: 'index.html', '' }}">&laquo;</a>
    {% else %}
    <span>&laquo;</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    |
    {% if page == paginator.page %}
    <em>{{ page }}</em>
    {% elsif page == 1 %}
    <a href="/">1</a>
    {% else %}
    <a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}
    |
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">&raquo;</a>
    {% else %}
    <span>&raquo;</span>
    {% endif %}
  </p>
  {% endif %}

  <!--<p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>-->

</div>
