html {
  font-family: Arial, sans-serif;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

$body-font-size: 18px;
$body-line-height: 1.5;
$scale-factor: 1.618;
$computed-line-height: $body-line-height * $body-font-size;

@import 'rhythm';

body {
  @include rhythm(0);
}

p, ul, ol {
  @include rhythm(0, 0, 1);
}

h1 {
  @include rhythm(3, 2, 1);
}

h2 {
  @include rhythm(2, 2, 1);
}

h3 {
  @include rhythm(1, 1, 1);
}

h4, h5, h6 {
  @include rhythm(0, 1, 1);
}
