<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
  <link rel="canonical" href="{{ canonicalURL }}">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <div class="wrapper">
    <header class="site-header">
      <h1><a href="/">David Moody</a></h1>
      <p>A blog about programming</p>
    </header>

    <div class="content">
      {% block content %}{% endblock %}
    </div>
    
    <div class="push"></div>
  </div>

  <footer class="site-footer">
    <br>
    <p>
      <a href="/{{ feedPath }}">RSS</a> | 
      <a href="{{ gitHubURL }}">GitHub</a> | 
      <a href="mailto:{{ email }}">Email</a>
    </p>
    <p>
      This blog is available under a 
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
        Creative Commons License
      </a>
    </p>
  </footer>

</body>
</html>
