<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}A blog about programming{% endblock %}">
  <link rel="canonical" href="{{ canonicalURL }}">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  <header class="site-header">
    <h1 class="site-header__title">
      <a href="/">David Moody</a>
    </h1>
    <ul class="site-header__links">
      <li class="site-header__link"><a href="https://github.com/davidxmoody">GitHub</a></li>
      <li class="site-header__link"><a href="https://www.linkedin.com/in/davidxmoody/">LinkedIn</a></li>
      <li class="site-header__link"><a href="mailto:david@davidxmoody.com">Email</a></li>
    </ul>
  </header>

  <div class="site-content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>
