{% extends "layouts/base.njk" %}

{% macro paginationLink(symbol, href="", disabled=false) %}
  {% if disabled or not href %}
    <span class="pagination__disabled">{{ symbol }}</span>
  {% else %}
    <a class="pagination__link" href="{{ href }}">{{ symbol }}</a>
  {% endif %}
{% endmacro %}

{% block content %}

  {% for file in pagination.files %}
    <article>
      <header>
        <h1>{{ file.title }}</h1>
        <p><em>{{ file.formattedDate }}</em></p>
      </header>

      {{ file.excerpt | safe }}
    </article>
  {% endfor %}

  <p class="pagination">
    {{ paginationLink("«", pagination.previous.relativeURL) }}
    {% for page in pagination.pages %}
      <span class="pagination__separator"></span>
      {{ paginationLink(page.pagination.num, page.relativeURL, page.pagination.num == pagination.num) }}
    {% endfor %}
    <span class="pagination__separator"></span>
    {{ paginationLink("»", pagination.next.relativeURL) }}
  </p>

{% endblock %}
