// This is an awkward hack to re-use the rhythm stuff with a different base
// font size. I am thinking of removing the gridlover rhythm stuff anyway and
// just using some fixed vaules.
$body-font-size: 11px;
$body-line-height: 1.5;
$scale-factor: 1.3;
$computed-line-height: $body-line-height * $body-font-size;

@import 'rhythm';

h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
  page-break-inside: avoid;
}

@media print {
  .site-header {
    display: none;
  }

  .content {
    max-width: 555px;
    padding-bottom: 0;
  }

  .page-break {
    page-break-after: always;
  }

  .site-content {
    p, ul, ol, blockquote {
      @include rhythm(0, 0, 1);
    }

    h1 {
      @include rhythm(3, 2, 1);
    }

    h2 {
      @include rhythm(2, 1, 1);
    }

    h3 {
      @include rhythm(1, 1, 1);
    }

    h4, h5, h6 {
      @include rhythm(0, 1, 1);
    }
  }
}
