html {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

$body-font-size: 18px;
$body-line-height: 1.5;
$scale-factor: 1.3;
$computed-line-height: $body-line-height * $body-font-size;

body {
  @include rhythm(0);
}

p, ul, ol, blockquote {
  @include rhythm(0, 0, 1);
}

h1 {
  @include rhythm(3, 2, 1);
}

h2 {
  @include rhythm(2, 1, 1);
}

h3 {
  @include rhythm(1, 1, 1);
}

h4, h5, h6 {
  @include rhythm(0, 1, 1);
}

// Sanitation
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
