@import 'normalize';
@import 'rhythm';
@import 'highlight';
@import 'typography';
@import 'stickyfooter';

// Colours from: http://www.paletton.com/#uid=1000u0kleqtbzEKgVuIpcmGtdhZ

$color-base: #D34747;
$color-light: #F57373;
$color-lighter: #FFA3A3;
$color-dark: #B52626;
$color-darker: #8F0C0C;

$content-text-color: #222;
$content-header-color: #111;

$header-background: $color-base;
$header-color: white;
$header-shadow-color: $color-dark;
$link-color: $color-dark;
$hover-link-color: $color-darker;

// Site header and footer

.site-header, 
.site-footer {
  background: $header-background;
  color: $header-color;
  text-align: center;
  text-transform: uppercase;

  p {
    font-size: 80%;
    font-weight: bold;
  }

  a {
    color: $header-color;
  }
}

.site-header {
  padding-top: $computed-line-height;
  a, a:hover {
    text-decoration: none;
    color: $header-color;
    text-shadow: 2px 2px 0 $header-background, 5px 5px 0 $header-shadow-color;
  }
  h1 {
    @include rhythm(4, 0, 0);
  }
  p {
    $upper-padding: round($computed-line-height / 3);
    padding-top: $upper-padding;
    padding-bottom: $computed-line-height - $upper-padding;
    margin-bottom: 0;
  }
}

.content {
  max-width: $body-font-size * 33;
  margin: auto;
  padding: 0 14px;
  color: $content-text-color;
  h1, h2, h3, h4, h5, h6 {
    color: $content-header-color;
  }
  padding-bottom: $computed-line-height * 2;
}

a {
  color: $link-color;

  &:hover {
    color: $hover-link-color;
  }
}

// Responsive images
img {
  max-width: 100%;
}

// Force scrollbars to prevent "centering jumps"
html {
  overflow-y: scroll;
}

// Pagination
.pagination {
  margin-top: $computed-line-height * 2;
  text-align: center;
}

.pagination__link, .pagination__disabled {
  padding-left: 1em;
  padding-right: 1em;
}

.pagination__ellipsis {
  padding-left: -1em;
  padding-right: -1em;
}
.pagination__ellipsis::before {
  content: "...";
}

.pagination__separator::before {
  content: "|";
}

// Blockquotes
blockquote {
  margin-left: 5%;
  border-left: 3px solid $color-dark;
  padding-left: 1em;
  font-style: italic;
}
