@import 'normalize';
@import 'rhythm';
@import 'highlight';
@import 'typography';

// Colours from: http://www.paletton.com/#uid=1000u0kleqtbzEKgVuIpcmGtdhZ

$color-base: #D34747;
$color-light: #F57373;
$color-lighter: #FFA3A3;
$color-dark: #B52626;
$color-darker: #8F0C0C;

$content-text-color: #222;
$content-header-color: #111;

$header-background: $color-base;
$header-color: white;
$header-shadow-color: $color-dark;
$link-color: $color-dark;
$hover-link-color: $color-darker;

.site-header {
  background: $header-background;
  color: $header-color;
  text-align: center;
  text-transform: uppercase;
  padding-top: $computed-line-height;
  padding-bottom: $computed-line-height;

  a, a:hover {
    color: $header-color;
  }

  &__title {
    @include rhythm(4, 0, 1);
    a {
      text-shadow: 2px 2px 0 $header-background, 5px 5px 0 $header-shadow-color;
      text-decoration: none !important;
    }
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    font-weight: bold;
    @include rhythm(-1, 0, 0);
  }

  &__link + &__link {
    &::before {
      content: "|";
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}

.site-content {
  max-width: 600px;
  margin: auto;
  padding-left: 14px;
  padding-right: 14px;

  color: $content-text-color;

  overflow-wrap: break-word; // Fixes long inline code tags making the whole page scroll

  h1, h2, h3, h4, h5, h6 {
    color: $content-header-color;
  }

  a {
    color: $link-color;

    &:hover {
      color: $hover-link-color;
    }
  }

  img {
    max-width: 100%;
  }

  blockquote {
    margin-left: 5%;
    border-left: 3px solid $color-dark;
    padding-left: 1em;
    font-style: italic;
  }
}

// Force scrollbars to prevent "centering jumps"
html {
  overflow-y: scroll;
}
