<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" }}">
  <meta name="wot-verification" content="fdff4a26070b9df2fd1a"/>
</head>
<body>

<div class="wrapper">
  <header class="site-header">
    <h1><a href="/">David Moody</a></h1>
    <p>A blog about programming</p>
  </header>

  <div class="content">
    {{ content }}
  </div>
  
  <div class="push"></div>
</div>

<footer class="site-footer">
  <p>
    <br>
    <a href="/feed.xml">RSS</a> | 
    <a href="https://github.com/davidxmoody">GitHub</a> | 
    <a href="mailto:david.doomy@gmail.com">Email</a>
  </p>
  <p>
    <!--<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br>-->
    <!--<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">This blog</span> by 
    <a xmlns:cc="http://creativecommons.org/ns#" href="{{ site.url }}" property="cc:attributionName" rel="cc:attributionURL">David Moody</a> is licensed under a <br>-->
    This blog is available under a 
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 License</a>
  </p>
</footer>

</body>
</html>
